#learn_more {
	background: rgba(22, 32, 51, 0.4);
	color: rgb(237, 237, 237, 0.3);
	padding: 1rem;
	border-radius: 0.2rem;
	border: 0.1px solid rgba(237, 237, 237, 0.2);
	user-select: none;
	width: fit-content;
	margin: auto;
	margin-top: 1rem;
	transition: scale 0.2s ease, color 0.2s ease,
                background 0.2s ease, border-color 0.2s ease; 
}

#learn_more:hover {
	scale: 1.05;
	color: rgb(237, 237, 237, 1);
	background: rgba(22, 32, 51, 0.7);
	border: 0.1px solid rgba(237, 237, 237, 0.5);
}

